@charset "utf-8";



/* Table Styles */
table {
  background: light gray;
  border: 5px white;
  border-radius: 25px;
margin-left:auto;
margin-right:auto;
}
table th, table td {
  border: 3px ;
  border-radius: 25px;
  line-height: 1.4em;
  padding: 4px;
     
}
table th {
  background-color: white;
  color: rgb(130, 210, 255);
  font-weight: normal;

  
}
 
table td {
	
  font-family: "Lora","Big Caslon","Bodoni MT",Georgia,serif;
  letter-spacing: 1px;
  text-transform:uppercase;
  font-size: 0.8em;
  color: black;
  vertical-align: text-bottom;
  font: center;
}




/* Column Styles */
col#firstCol {
  width: 2%;
}
 
col.dataCols {
  width: 19%;
}



/* Table Header Styles */
 Header Styles */
table thead tr {
  height: 60px;

}
 
table thead tr:first-of-type th:first-of-type {
  font-size: 2em;
}
 
table thead tr:first-of-type th:not(:first-of-type)
{
  background-color: transparent;
  color: black;
}

